<% content_for(:title, "#{@grave.name}") %>

<h1><%= @grave.name %></h1>
<div class="row-fluid">
  <div class="col-md-7 content">
    <div class="col-md-3" id="description">
      <%= image_tag(@grave.mainpic(:medium), class: "pull-left main-image") %>
      <p><%= @grave.comments %></p>
    </div>
    <div class="col-md-4 pull-right" id="details">
      <table class="table-striped table-bordered pull-right" id="details-table">
      	<p>Basic Information</p>
        <tr><td>Surveyor: </td><td class="info"><%= @grave.user.email %></td></tr>
        <tr><td>Block Number: </td><td class="info"><%= @grave.block %></td></tr>
        <tr><td>Lot Number: </td><td class="info"><%= @grave.lot %></td></tr>
        <tr><td>Grave Number: </td><td class="info"><%= @grave.site %></td></tr>
        <tr><td>Condition: </td><td class="info"><%= @grave.condition %></td></tr>
        <tr><td>Stone Carver Name: </td><td class="info"><%= @grave.carver_name %></td></tr>
        <tr><td>Stone Carver City: </td><td class="info"><%= @grave.carver_city %></td></tr>
        <tr><td>Carver Info Location: </td><td class="info"><%= @grave.carver_location %></td></tr>
        <tr><td>Survey Date: </td><td class="info"><%= @grave.survey_date %></td></tr>
      </table>
    </div>
  </div>
  <div class="col-md-5 content-right pull-right">
  	<p>Additional Information</p>
  	<table class="table-striped table-bordered" id="details-table">
  		<% if @grave.famnames.count > 0 %>
  	  	<% @grave.famnames.each_with_index do |famname, index| %>
 		 	  	<tr><td>Associated Name (<%= "#{index +1}" %>): </td><td class="info"><%= famname.name %></td></tr>
 		 		<% end %>
 		 	<% end %>
 		 	<p><%= link_to "Add Additional Name", new_grafe_famname_path(@grave) %></p>
 	 		<% if @grave.base_materials.count > 0 %>
 	 	  	<% @grave.base_materials.each_with_index do |material, index| %>
 			 	  <tr><td>Base Material (<%= "#{index +1}" %>): </td><td class="info"><%= material.description %></td></tr>
 			 	<% end %>
 			<% end %>
 			<p><%= link_to "Add Additional Base Material", new_grafe_base_material_path(@grave) %></p>
  	  <tr><td>Lot Number: </td><td class="info"><%= @grave.lot %></td></tr>
  	  <tr><td>Grave Number: </td><td class="info"><%= @grave.site %></td></tr>
  	  <tr><td>Condition: </td><td class="info"><%= @grave.condition %></td></tr>
  	  <tr><td>Stone Carver Name: </td><td class="info"><%= @grave.carver_name %></td></tr>
  	  <tr><td>Stone Carver City: </td><td class="info"><%= @grave.carver_city %></td></tr>
  	  <tr><td>Carver Info Location: </td><td class="info"><%= @grave.carver_location %></td></tr>
  	  <tr><td>Survey Date: </td><td class="info"><%= @grave.survey_date %></td></tr>
  	</table>
  </div>
</div>