<% content_for(:title, "#{@grave.name}") %>

<h1><%= @grave.name %></h1>
<div class="row-fluid">
  <div class="col-md-7 content">
    <div class="col-md-3" id="description">
      <%= image_tag(@grave.mainpic(:medium), class: "main-image") %>
      <h4>Comments: </h4>
      <p><%= @grave.comments %></p>
    </div>
    <div class="col-md-4 pull-right" id="details">
      <table class="table-striped table-bordered pull-right" id="details-table">
      	<p>Basic Information</p>
        <tr><td>Surveyor: </td><td class="info"><%= @grave.user.email %></td></tr>
        <tr><td>Block Number: </td><td class="info"><%= @grave.block %></td></tr>
        <tr><td>Lot Number: </td><td class="info"><%= @grave.lot %></td></tr>
        <tr><td>Grave Number: </td><td class="info"><%= @grave.site %></td></tr>
        <tr><td>Condition: </td><td class="info"><%= @grave.condition %></td></tr>
        <tr><td>Stone Carver Name: </td><td class="info"><%= @grave.carver_name %></td></tr>
        <tr><td>Stone Carver City: </td><td class="info"><%= @grave.carver_city %></td></tr>
        <tr><td>Carver Info Location: </td><td class="info"><%= @grave.carver_location %></td></tr>
        <tr><td>Survey Date: </td><td class="info"><%= @grave.survey_date %></td></tr>
      </table>
    </div>
  </div>
  <div class="col-md-5 content-right pull-right">
  	<p>Additional Information</p>
  	<table class="table-striped table-bordered" id="details-table">
  		<% if @grave.famnames.count > 0 %>
  	  	<% @grave.famnames.each_with_index do |famname, index| %>
 		 	  	<tr><td>Associated Name (<%= "#{index +1}" %>): </td><td class="info"><%= famname.name %>
          <% if can?(:manage, :all) && index == 0 || (current_user == @grave.user) && index == 0 %>
            <%= link_to "Add Name", new_grafe_famname_path(@grave), class: "btn btn-xs btn-warning table-btn" %>
          <% end %>
          </td></tr>
 		 		<% end %>
      <% else %>
        <% if can?(:manage, :all) || (current_user == @grave.user) %>
          <p><%= link_to "Add Additional Name (None Added)", new_grafe_famname_path(@grave) %></p>
        <% end %>
 		 	<% end %>
 	 		<% if @grave.base_materials.count > 0 %>
 	 	  	<% @grave.base_materials.each_with_index do |material, index| %>
 			 	  <tr><td>Base Material (<%= "#{index +1}" %>): </td><td class="info"><%= material.description %>
          <% if can?(:manage, :all) && index == 0 || (current_user == @grave.user) && index == 0 %>
            <%= link_to "Add Material", new_grafe_base_material_path(@grave), class: "btn btn-xs btn-warning table-btn" %>
          <% end %>
          </td></tr>
 			 	<% end %>
      <% else %>
        <% if can?(:manage, :all) || (current_user == @grave.user) %>
          <p><%= link_to "Add Base Material (None added)", new_grafe_base_material_path(@grave) %></p>
        <% end %>
 			<% end %>
      <% if @grave.marker_conditions.count > 0 %>
        <% @grave.marker_conditions.each_with_index do |condition, index| %>
          <tr><td>Marker Condition (<%= "#{index +1}" %>): </td><td class="info"><%= condition.description %>
         <% if can?(:manage, :all) && index == 0 || (current_user == @grave.user) && index == 0 %>
           <%= link_to "Add Condition", new_grafe_marker_condition_path(@grave), class: "btn btn-xs btn-warning table-btn" %>
         <% end %>
         </td></tr>
        <% end %>
      <% else %>
        <% if can?(:manage, :all) || (current_user == @grave.user) %>
          <p><%= link_to "Add Marker Condition (None added)", new_grafe_marker_condition_path(@grave) %></p>
        <% end %>
      <% end %>
      <% if @grave.marker_materials.count > 0 %>
        <% @grave.marker_materials.each_with_index do |material, index| %>
          <tr><td>Marker Material (<%= "#{index +1}" %>): </td><td class="info"><%= material.description %>
          <% if can?(:manage, :all) && index == 0 || (current_user == @grave.user) && index == 0 %>
            <%= link_to "Add Material", new_grafe_marker_material_path(@grave), class: "btn btn-xs btn-warning table-btn" %>
          <% end %>
        </td></tr>
        <% end %>
      <% else %>
        <% if can?(:manage, :all) || (current_user == @grave.user) %>
          <p><%= link_to "Add Marker Material (None added)", new_grafe_marker_material_path(@grave) %></p>
        <% end %>
      <% end %>
      <% if @grave.marker_types.count > 0 %>
        <% @grave.marker_types.each_with_index do |type, index| %>
          <tr><td>Marker Type (<%= "#{index +1}" %>): </td><td class="info"><%= type.description %> on: <%= type.marker_on %>
         <% if can?(:manage, :all) && index == 0 || (current_user == @grave.user) && index == 0 %>
           <%= link_to "Add Type", new_grafe_marker_type_path(@grave), class: "btn btn-xs btn-warning table-btn" %>
         <% end %>
         </td></tr>
        <% end %>
      <% else %>
        <% if can?(:manage, :all) || (current_user == @grave.user) %>
          <p><%= link_to "Add Marker Type (None added)", new_grafe_marker_type_path(@grave) %></p>
        <% end %>
      <% end %>
  	</table>
  </div>
</div>
<div class="clear-left display-block">
  <div class="col-md-12 content margin-high">
  <h1>Epitaphs</h1>
  <% if @grave.epitaphs.count > 0 %>
    <% @grave.epitaphs.each_with_index do |epitaph, index| %>
      <% if can?(:manage, :all) && index == 0 || (current_user == @grave.user) && index == 0 %>
        <%= link_to "Add Epitaph", new_grafe_epitaph_path(@grave), class: "btn btn-xs btn-warning table-btn" %>
      <% end %>
      <h4>Epitaph #<%= "#{index + 1}" %></h4>
      <p>Direction Facing: <%= epitaph.direction %>
      <p>Condition: <%= epitaph.condition %>
      <p>Transcription: <%= epitaph.description %>
    <% end %>
  <% else %>
    <% if can?(:manage, :all) || (current_user == @grave.user) %>
      <p><%= link_to "Add Epitaph (None added)", new_grafe_epitaph_path(@grave) %></p>
    <% end %>
  <% end %>
  </div>
</div>
<div class="clear-left display-block">
  <div class="col-md-12 content margin-high">
  <h1>Additional Pictures</h1>
  <% if @grave.pictures.count > 0 %>
    <% @grave.pictures.each_with_index do |picture, index| %>
      <% if can?(:manage, :all) && index == 0 || (current_user == @grave.user) && index == 0 %>
        <%= link_to "Add Picture", new_grafe_picture_path(@grave), class: "btn btn-xs btn-warning table-btn" %>
      <% end %>
      <h4>Picture #<%= "#{index + 1}" %></h4>
      <%= image_tag(picture.image(:medium), class: "main-image") %>
      <p>Description: <%= picture.description %>
    <% end %>
  <% else %>
    <% if can?(:manage, :all) || (current_user == @grave.user) %>
      <p><%= link_to "Add Picture (None added)", new_grafe_picture_path(@grave) %></p>
    <% end %>
  <% end %>
  </div>
</div>